src/main/resources/PosService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Valid from 2015/11/01, WebServices / FBSC version 1.20.0 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tp="http://www.fleetboard.com/data" xmlns:tpns="http://ws.fleetboard.com/PosService" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jm="http://ispsoft.de/namespaces/jaxme/schema" targetNamespace="http://ws.fleetboard.com/PosService">
    <types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.fleetboard.com/data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:simpleType name="idType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="inoidType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="fbidType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="oidType">
                <xs:annotation>
                    <xs:documentation>
                        The oid identifies an order. Unlike the fbid, it is
				not
				unique in the database, only within a fleet.
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="tidType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="trackingidType">
                <xs:annotation>
                    <xs:documentation>
                        The trackingid identifies one or more orders in the
				order tracking system. Unlike the fbid or oid attributes
				it isn't
				unique at all. If the creator doesn't supply a
				trackingid, it is
				automatically generated.
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="51"/>
                    <xs:minLength value="2"/>
                    <xs:pattern value="[A-Z0-9\-]+"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="limitType">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="offsetType">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="resultSizeType">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="responseSizeType">
                <xs:restriction base="xs:integer"/>
            </xs:simpleType>
            <xs:simpleType name="vehicleidType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="vehicleGroupIdType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="driverNameIDType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="driverGroupIdType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="telematicGroupIDType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MB"/>
                    <xs:enumeration value="AM"/>
                    <xs:enumeration value="DISPOSITION"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="sessionidType">
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType name="fleetidType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:simpleType name="timestampType">
                <xs:annotation>
                    <xs:documentation>
                        Date format 'yyyy-MM-dd HH:mm:ss'
                    </xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:minLength value="19"/>
                    <xs:maxLength value="19"/>
                    <xs:pattern value="([0-9]{4}-[0-9]{2}-[0-9]{2}[ ]{1}[0-2]{1}[0-9]{1}:[0-5]{1}[0-9]{1}:[0-5]{1}[0-9]{1})"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="TPDate">
                <xs:sequence>
                    <xs:element name="Begin" type="tp:timestampType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                pattern: 'yyyy-mm-dd HH:mm:ss'
                            </xs:documentation>
                            <xs:documentation>
                                Date format 'yyyy-MM-dd HH:mm:ss'
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="End" type="tp:timestampType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                pattern: 'yyyy-mm-dd HH:mm:ss'
                            </xs:documentation>
                            <xs:documentation>
                                Date format 'yyyy-MM-dd HH:mm:ss'
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="okResultType">
                <xs:sequence>
                    <xs:element name="OKResult" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="vehicleID" type="tp:vehicleidType" use="required"/>
                            <xs:attribute name="inoid" type="tp:inoidType" use="required"/>
                            <xs:attribute name="fbid" type="tp:fbidType" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="errorResultType">
                <xs:sequence>
                    <xs:element name="ErrorResult" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="vehicleID" type="tp:vehicleidType" use="required"/>
                            <xs:attribute name="faultcode" type="xs:integer" use="required"/>
                            <xs:attribute name="faultstring" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="versionType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:complexType name="okType">
                <xs:sequence>
                    <xs:element name="OKResult" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="id" type="tp:idType" use="optional"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="errorType">
                <xs:sequence>
                    <xs:element name="ErrorResult" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:attribute name="id" type="tp:idType" use="optional"/>
                            <xs:attribute name="faultcode" type="xs:integer" use="required"/>
                            <xs:attribute name="faultstring" type="xs:string" use="required"/>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="useridType">
                <xs:restriction base="xs:long"/>
            </xs:simpleType>
            <xs:element name="User">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="USERID">
                            <xs:simpleType>
                                <xs:restriction base="tp:useridType"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Timestamp" type="tp:timestampType">
                            <xs:annotation>
                                <xs:documentation>
                                    pattern: 'yyyy-mm-dd HH:mm:ss'
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="MsgID" minOccurs="0" maxOccurs="1">
                            <xs:simpleType>
                                <xs:restriction base="tp:inoidType"/>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="Usertype" use="optional">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="History">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Position">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Long" type="xs:float"/>
                        <xs:element minOccurs="0" name="Lat" type="xs:float"/>
                        <xs:element minOccurs="0" name="PosText" type="xs:string"/>
                        <xs:element name="Course" type="xs:string" nillable="true"/>
                        <xs:element name="Speed" type="xs:string" nillable="true"/>
                        <xs:element name="KM" type="xs:string" nillable="true"/>
                        <xs:element minOccurs="0" name="GPSStatus" type="xs:string"/>
                        <xs:element name="TracePositions" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="TracePosition" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="GpsTime" type="tp:timestampType"/>
                                                <xs:element name="Long" type="xs:float"/>
                                                <xs:element name="Lat" type="xs:float"/>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="timestamp" type="tp:timestampType"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReadInfo">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:User"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Header">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Messagetype" type="xs:string"/>
                        <xs:element minOccurs="0" name="Sentstatus" type="xs:string"/>
                        <xs:element minOccurs="0" name="Inbound" type="xs:string"/>
                        <xs:element minOccurs="0" name="ClientTimestamp" type="xs:string"/>
                        <xs:element minOccurs="0" name="ServerTimestamp" type="xs:string"/>
                        <xs:element minOccurs="0" name="VehicleTimestamp" type="xs:string"/>
                        <xs:element name="CreationBeginTimestamp" type="xs:string" minOccurs="0"/>
                        <xs:element name="CreationEndTimestamp" type="xs:string" minOccurs="0"/>
                        <xs:element minOccurs="0" ref="tp:Position"/>
                        <xs:element minOccurs="0" ref="tp:ReadInfo"/>
                        <xs:element minOccurs="0" name="Confirmation" type="xs:string"/>
                        <xs:element minOccurs="0" name="Scheduled" type="xs:string"/>
                        <xs:element minOccurs="0" name="VehicleID" type="tp:vehicleidType"/>
                        <xs:element minOccurs="0" name="DriverID" type="xs:string"/>
                        <xs:element minOccurs="0" name="DeliveryPriority" type="xs:string"/>
                        <xs:element name="States" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="State" minOccurs="0" maxOccurs="unbounded">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                    <xs:attribute name="name" type="xs:string" use="required"/>
                                                    <xs:attribute name="timestamp" type="tp:timestampType" use="optional"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Field">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FieldID">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Value">
                            <xs:simpleType>
                                <xs:restriction base="xs:string"/>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Fields">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:Field"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Form">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FormDefID">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer"/>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element ref="tp:Fields"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderID" type="xs:string"/>
                        <xs:element name="TourID" type="xs:string"/>
                        <xs:element minOccurs="0" name="TourRank" type="xs:integer"/>
                        <xs:element minOccurs="0" name="OrderCount" type="xs:integer"/>
                        <xs:element ref="tp:Form"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Hidden" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="DCFAP" type="xs:integer"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VhcStatusLayout" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" ref="tp:Hidden"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SemanticsDef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="Semantics">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Denotation" type="xs:string"/>
                                    <xs:element name="SemanticId" type="xs:long" minOccurs="0"/>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Scope" type="xs:string"/>
                                    <xs:element maxOccurs="1" minOccurs="0" name="Value" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="StatusDefMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ATSRegister" type="xs:string"/>
                        <xs:element name="Text" type="xs:string"/>
                        <xs:element minOccurs="0" name="StatusDefID" type="xs:string"/>
                        <xs:element minOccurs="0" ref="tp:VhcStatusLayout"/>
                        <xs:element minOccurs="0" ref="tp:SemanticsDef"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VhcLayout" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="VehicleColumn" type="xs:string"/>
                        <xs:element minOccurs="0" name="VehicleRow" type="xs:string"/>
                        <xs:element minOccurs="0" ref="tp:Hidden"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FormLayout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Top" type="xs:string"/>
                        <xs:element name="Left" type="xs:string"/>
                        <xs:element name="Width" type="xs:string"/>
                        <xs:element name="Height" type="xs:string"/>
                        <xs:element name="BGColor" type="xs:string"/>
                        <xs:element name="FontColor" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Behavior">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Maxlength" type="xs:string"/>
                        <xs:element name="Taborder" type="xs:string"/>
                        <xs:element name="Addressmapping" type="xs:string"/>
                        <xs:element name="Priority" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FieldDef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FieldDefID" type="xs:integer"/>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="Type" type="xs:string"/>
                        <xs:element ref="tp:VhcLayout"/>
                        <xs:element ref="tp:FormLayout"/>
                        <xs:element ref="tp:Behavior"/>
                        <xs:element minOccurs="0" name="Searchable" type="xs:integer"/>
                        <xs:element minOccurs="0" name="SuppressInVehicle" type="xs:integer"/>
                        <xs:element minOccurs="0" name="CopyFrom" type="xs:integer"/>
                        <xs:element minOccurs="0" ref="tp:SemanticsDef"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FieldsDef" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:FieldDef"/>
                        <xs:element minOccurs="0" name="OrderInfo" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FormDefMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Name" type="xs:string"/>
                        <xs:element name="FormDefID" type="xs:integer"/>
                        <xs:element ref="tp:FieldsDef"/>
                        <xs:element minOccurs="0" name="FormDefInoID" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoPos" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Interval" type="xs:string"/>
                        <xs:element minOccurs="0" name="Distance" type="xs:string"/>
                        <xs:element minOccurs="0" name="Times">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element maxOccurs="3" minOccurs="0" name="Time" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element minOccurs="0" name="Zonetype" type="xs:string"/>
                        <xs:element minOccurs="0" name="RefPOIsID" type="xs:string"/>
                        <xs:element minOccurs="0" name="Accmode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="AutoPosDef">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:AutoPos"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VehiclestatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element name="AddInformation" type="xs:string"/>
                        <xs:element ref="tp:Form" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DriverStatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StatusID" type="xs:string"/>
                        <xs:element name="Info" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OrderstatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="OrderID" type="xs:string"/>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element minOccurs="0" name="AddInformation" type="xs:string"/>
                        <xs:element ref="tp:Form" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TourstatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TourID" type="xs:string"/>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element minOccurs="0" name="AddInformation" type="xs:string"/>
                        <xs:element ref="tp:Form" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReplystatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="MessageID" type="xs:string"/>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element name="RefID" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="doc" type="xs:string" use="optional"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CacheMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="DocType" type="xs:string"/>
                        <xs:element name="CacheType" type="xs:string"/>
                        <xs:element name="Info" type="xs:string"/>
                    </xs:sequence>
                    <xs:attribute name="doc_inoid" type="tp:inoidType"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="TextConfMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="Command" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="InboxDataMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="ID" type="xs:string"/>
                        <xs:element minOccurs="0" name="TrailerName" type="xs:string"/>
                        <xs:element minOccurs="1" name="MessageType" type="xs:string"/>
                        <xs:element minOccurs="1" name="Message" type="xs:string"/>
                        <xs:element name="AreaMonitoring" minOccurs="0" maxOccurs="1">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="AreaId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                                    <xs:element name="AreaName" type="xs:string" minOccurs="1" maxOccurs="1"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="EventStatusMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Status" type="xs:string"/>
                        <xs:element minOccurs="0" name="AddInformation" type="xs:string"/>
                        <xs:element ref="tp:Form" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:annotation>
                <xs:appinfo>
                    <jm:defaults package="com.fleetboard.tm.data" accessors="true"/>
                </xs:appinfo>
            </xs:annotation>
            <xs:simpleType name="Device2VehicleConnectionStatusType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FREE"/>
                    <xs:enumeration value="REQUESTED"/>
                    <xs:enumeration value="CONNECTED"/>
                    <xs:enumeration value="REJECTED"/>
                    <xs:enumeration value="UNAVAILABLE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="PairingMsg">
                <xs:annotation>
                    <xs:appinfo>
                        <jm:type className="PairingMsg"/>
                    </xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="deviceId" type="xs:string"/>
                        <xs:element name="vehicleId" type="xs:long"/>
                        <xs:element name="status" type="tp:Device2VehicleConnectionStatusType"/>
                        <xs:element name="statusTime" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrailerPositionDTO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="positionDataTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="gpsTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="longitude" type="xs:double" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="latitude" type="xs:double" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="gpsHeading" type="xs:integer" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="gpsSpeed" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="gpsMileage" type="xs:double" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="positionText" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReasonDTO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="standard" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="statusRequest" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="tagChangedAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="ebsNotConnected" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="brakeLiningAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="couplingAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="doorAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="ignitionAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="reeferAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="reeferAlarmQueueChanged" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="reeferPresetListChanged" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="reeferCurrentPresetChanged" type="xs:boolean" minOccurs="0"/>
                        <xs:element name="trailerStartStopAlarm" type="xs:boolean" minOccurs="0"/>
                        <xs:element ref="tp:TemperatureAlarm" minOccurs="0"/>
                        <xs:element ref="tp:SetpointAlarm" minOccurs="0"/>
                        <xs:element ref="tp:Ebs24NAlarm" minOccurs="0"/>
                        <xs:element ref="tp:MilageAlarm" minOccurs="0"/>
                        <xs:element ref="tp:ReeferStartStopContinousChanged" minOccurs="0"/>
                        <xs:element ref="tp:ReeferDieselElectricChanged" minOccurs="0"/>
                        <xs:element ref="tp:ReeferOperationModeChanged" minOccurs="0"/>
                        <xs:element ref="tp:FuelLevelAlarm" minOccurs="0"/>
                        <xs:element ref="tp:TempLoggerMonitoringAlarm" minOccurs="0"/>
                        <xs:element ref="tp:TirePressureAlarm" minOccurs="0"/>
                        <xs:element ref="tp:UndervoltageAlarm" minOccurs="0"/>
                        <xs:element ref="tp:VelocityAlarm" minOccurs="0"/>
                        <xs:element ref="tp:WatchboxAlarm" minOccurs="0"/>
                        <xs:element ref="tp:BogieLoadAlarm" minOccurs="0"/>
                        <xs:element ref="tp:HumidityAlarm" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TemperatureAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="temperatureSensor" type="tp:TemperatureSensorDTO" minOccurs="0"/>
                        <xs:element name="currentTemperature" type="xs:double" minOccurs="0"/>
                        <xs:element name="minThreshold" type="xs:long" minOccurs="0"/>
                        <xs:element name="maxThreshold" type="xs:long" minOccurs="0"/>
                        <xs:element name="isAllClear" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetpointAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="setpointSensor" type="tp:SetpointSensorDTO" minOccurs="0"/>
                        <xs:element ref="tp:SetpointData" minOccurs="0"/>
                        <xs:element name="threshold" type="xs:long" minOccurs="0"/>
                        <xs:element name="isAllClear" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="SetpointData">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="temperature" type="xs:double" minOccurs="0"/>
                        <xs:element name="returnAirTemperature" type="xs:double" minOccurs="0"/>
                        <xs:element name="supplyTemperature" type="xs:double" minOccurs="0"/>
                        <xs:element name="evaporatorCoilTemperature" type="xs:double" minOccurs="0"/>
                        <xs:element name="compartmentOperationMode" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Ebs24NAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ebs24NDelta" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="MilageAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentMileage" type="xs:double" minOccurs="0"/>
                        <xs:element name="threshold" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReeferStartStopContinousChanged">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentReeferOperationMode" type="tp:CurrentReeferOperationModeDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReeferDieselElectricChanged">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentPowerMode" type="tp:CurrentPowerModeDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReeferOperationModeChanged">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:CurrentCompartmentDataList" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="CurrentCompartmentDataList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="compartmentNumber" type="xs:integer" minOccurs="0"/>
                        <xs:element name="compartmentOperationMode" type="tp:CompartmentOperationModeDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="FuelLevelAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentFuelLevelColor" type="tp:CurrentFuelLevelColorDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TempLoggerMonitoringAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="isAllClear" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TirePressureAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tirePosition" type="tp:TirePositionDTO" minOccurs="0"/>
                        <xs:element name="currentPressure" type="xs:double" minOccurs="0"/>
                        <xs:element name="threshold" type="xs:double" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UndervoltageAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="batteryConcerned" type="tp:BatteryConcernedDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="VelocityAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentVelocity" type="xs:long" minOccurs="0"/>
                        <xs:element name="threshold" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="WatchboxAlarm">
                <xs:complexType>
                    <xs:annotation/>
                    <xs:sequence>
                        <xs:element name="watchboxName" type="xs:string" minOccurs="0"/>
                        <xs:element name="watchboxAlarmReason" type="tp:WatchboxAlarmReasonDTO" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="BogieLoadAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentBogieLoad" type="xs:double" minOccurs="0"/>
                        <xs:element name="threshold" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="HumidityAlarm">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="currentHumidity" type="xs:long" minOccurs="0"/>
                        <xs:element name="minThreshold" type="xs:long" minOccurs="0"/>
                        <xs:element name="maxThreshold" type="xs:long" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="TemperatureSensorDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="TemperaturSensor1"/>
                    <xs:enumeration value="TemperaturSensor2"/>
                    <xs:enumeration value="TemperaturSensor3"/>
                    <xs:enumeration value="TemperaturSensor4"/>
                    <xs:enumeration value="TemperaturSensor5"/>
                    <xs:enumeration value="TemperaturSensor6"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="SetpointSensorDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Setpoint1"/>
                    <xs:enumeration value="Setpoint2"/>
                    <xs:enumeration value="Setpoint3"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CurrentReeferOperationModeDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="StartStop"/>
                    <xs:enumeration value="Continuous"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CurrentPowerModeDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Electric"/>
                    <xs:enumeration value="Diesel"/>
                    <xs:enumeration value="Unknown"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CompartmentOperationModeDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="On"/>
                    <xs:enumeration value="Off"/>
                    <xs:enumeration value="Cooling"/>
                    <xs:enumeration value="Heating"/>
                    <xs:enumeration value="Defrost"/>
                    <xs:enumeration value="Pretrip"/>
                    <xs:enumeration value="Null"/>
                    <xs:enumeration value="Invalid"/>
                    <xs:enumeration value="Unknown"/>
                    <xs:enumeration value="Diagnostic"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="CurrentFuelLevelColorDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="red"/>
                    <xs:enumeration value="yellow"/>
                    <xs:enumeration value="green"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="TirePositionDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="FrontLeftWheel"/>
                    <xs:enumeration value="FrontRightWheel"/>
                    <xs:enumeration value="MiddleLeftWheel"/>
                    <xs:enumeration value="MiddleRightWheel"/>
                    <xs:enumeration value="RearLeftWheel"/>
                    <xs:enumeration value="RearRightWheel"/>
                    <xs:enumeration value="SpareWheel"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="BatteryConcernedDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="CTU1_Battery"/>
                    <xs:enumeration value="CTU2_LIN_Battery"/>
                    <xs:enumeration value="External_Battery"/>
                    <xs:enumeration value="Boardnet_12V"/>
                    <xs:enumeration value="Boardnet_24V"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="WatchboxAlarmReasonDTO">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="WatchboxEntry"/>
                    <xs:enumeration value="WatchboxExit"/>
                    <xs:enumeration value="WatchboxEntryTimeDifference"/>
                    <xs:enumeration value="WatchboxExitTimeDifference"/>
                    <xs:enumeration value="WatchboxMonitoringFinished"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="TmInfoDTO">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tmObjectId" type="xs:long" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="documentInfo" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrailerEventMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="trailerId" type="xs:string"/>
                        <xs:element name="vehicleId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="driverNameId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="coupled" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ignitionOn" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="inMotion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="tp:ReasonDTO" minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="tp:TrailerPositionDTO" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="deviceTime" type="xs:dateTime"/>
                        <xs:element name="receiveTime" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="isDoor1Open" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="isDoor2Open" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="isDoor3Open" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="isDoor4Open" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="tp:TmInfoDTO" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="TspAccountState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="UNREGISTERED"/>
                    <xs:enumeration value="REGISTER_PENDING"/>
                    <xs:enumeration value="REGISTER_ERROR"/>
                    <xs:enumeration value="REGISTERED"/>
                    <xs:enumeration value="UNREGISTER_PENDING"/>
                    <xs:enumeration value="UNREGISTER_ERROR"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="TrailerRegisterMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="userName" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="phoneNumber" type="xs:string"/>
                        <xs:element name="email" type="xs:string"/>
                        <xs:element name="contactPersonName" type="xs:string"/>
                        <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="trailerServiceProviderId" type="xs:string"/>
                        <xs:element name="tspAccountState" type="tp:TspAccountState"/>
                        <xs:element name="errorCode" type="xs:string"/>
                        <xs:element name="errorMessage" type="xs:string"/>
                        <xs:element name="fleetId" type="xs:long"/>
                        <xs:element name="updateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrailerSyncMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                        <xs:element name="name" type="xs:string"/>
                        <xs:element name="vin" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="nationality" type="xs:string"/>
                        <xs:element name="licencePlateNumber" type="xs:string"/>
                        <xs:element name="customerMatchCode" type="xs:string"/>
                        <xs:element name="fleetId" type="xs:long"/>
                        <xs:element name="trailerGroupIds" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="trailerState" type="tp:TrailerState"/>
                        <xs:element name="updateTime" type="xs:dateTime"/>
                        <xs:element name="trailerServiceProviderAccountId" type="xs:string" minOccurs="0"/>
                        <xs:element name="trailerServiceProviderId" type="xs:string" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="TrailerState">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="ACTIVE"/>
                    <xs:enumeration value="INACTIVE"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="TourEventUptimeMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" name="TourEventType" type="xs:short"/>
                        <xs:element minOccurs="1" name="TourEventStatus" type="xs:short"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrailerCouplingMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trailerId" type="xs:string"/>
                        <xs:element name="vehicleId" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="trailerCoupled" type="tp:TrailerCoupled"/>
                        <xs:element name="updateTime" type="xs:dateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:simpleType name="TrailerCoupled">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Coupled"/>
                    <xs:enumeration value="Uncoupled"/>
                    <xs:enumeration value="Unknown"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:element name="Body" nillable="true">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="FreetextMsg" type="xs:string"/>
                        <xs:element minOccurs="0" ref="tp:OrderMsg"/>
                        <xs:element minOccurs="0" ref="tp:StatusDefMsg"/>
                        <xs:element minOccurs="0" ref="tp:FormDefMsg"/>
                        <xs:element minOccurs="0" ref="tp:AutoPosDef"/>
                        <xs:element minOccurs="0" ref="tp:VehiclestatusMsg"/>
                        <xs:element minOccurs="0" ref="tp:DriverStatusMsg"/>
                        <xs:element minOccurs="0" ref="tp:OrderstatusMsg"/>
                        <xs:element minOccurs="0" ref="tp:TourstatusMsg"/>
                        <xs:element minOccurs="0" ref="tp:ReplystatusMsg"/>
                        <xs:element minOccurs="0" name="SimcardChgMsg" type="xs:string"/>
                        <xs:element minOccurs="0" name="HexMsg" type="xs:string"/>
                        <xs:element minOccurs="0" ref="tp:CacheMsg"/>
                        <xs:element minOccurs="0" ref="tp:TextConfMsg"/>
                        <xs:element minOccurs="0" name="VehiclereplyMsg" type="xs:string"/>
                        <xs:element minOccurs="0" ref="tp:InboxDataMsg"/>
                        <xs:element minOccurs="0" ref="tp:EventStatusMsg"/>
                        <xs:element minOccurs="0" ref="tp:PairingMsg"/>
                        <xs:element minOccurs="0" ref="tp:TrailerEventMsg"/>
                        <xs:element minOccurs="0" ref="tp:TrailerRegisterMsg"/>
                        <xs:element minOccurs="0" ref="tp:TrailerSyncMsg"/>
                        <xs:element minOccurs="0" ref="tp:TourEventUptimeMsg"/>
                        <xs:element minOccurs="0" ref="tp:TrailerCouplingMsg"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Msg">
                <xs:annotation>
                    <xs:documentation>
                        The FleetBoard Msg document
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="FLEETID" type="tp:fleetidType"/>
                        <xs:element minOccurs="0" ref="tp:History"/>
                        <xs:element ref="tp:Header"/>
                        <xs:element minOccurs="0" ref="tp:Body"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="ForeignRef">
                            <xs:annotation>
                                <xs:documentation>
                                    References used application internal.
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:attribute name="name" type="xs:string"/>
                                <xs:attribute name="value" type="xs:string"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="inoid" type="tp:inoidType"/>
                    <xs:attribute name="fbid" type="tp:fbidType"/>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="GetPosReportRequestType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="VehicleID" type="tp:vehicleidType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="VehicleGroupID" type="tp:vehicleGroupIdType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="TelematicGroupID" type="tp:telematicGroupIDType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DriverNameID" type="tp:driverNameIDType"/>
                    <xs:element name="DriverGroupID" type="tp:driverGroupIdType" minOccurs="0"/>
                    <xs:element minOccurs="0" name="VehicleTimestamp" type="tp:TPDate"/>
                    <xs:element name="RealVehicleTimestamp" type="tp:TPDate" maxOccurs="1" minOccurs="0"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Inoid" type="tp:inoidType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="Fbid" type="tp:fbidType"/>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="limit" type="tp:limitType" use="optional"/>
                <xs:attribute name="offset" type="tp:offsetType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetPosReportRequest" type="tp:GetPosReportRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Request document for getPosReport
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetPosReportResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:Msg"/>
                </xs:sequence>
                <xs:attribute name="limit" type="tp:limitType"/>
                <xs:attribute name="offset" type="tp:offsetType"/>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetPosReportResponse" type="tp:GetPosReportResponseType">
                <xs:annotation>
                    <xs:documentation>
                        Response document for getPosReport
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetPosReportTraceRequestType">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="VehicleId" type="tp:vehicleidType"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="VehicleTimestamp" type="tp:TPDate"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="ServerTimestamp" type="tp:TPDate"/>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="version" type="tp:versionType" use="optional"/>
                <xs:attribute name="limit" type="tp:limitType" use="optional"/>
                <xs:attribute name="offset" type="tp:offsetType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetPosReportTraceRequest" type="tp:GetPosReportTraceRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Request document for getPosReportTrace
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetPosReportTraceResponseType">
                <xs:sequence>
                    <xs:element name="Position" minOccurs="0" maxOccurs="unbounded">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="VehicleId" type="tp:vehicleidType"/>
                                <xs:element name="FleetId" type="tp:fleetidType"/>
                                <xs:element name="GpsTime" type="tp:timestampType"/>
                                <xs:element name="Long" type="xs:string"/>
                                <xs:element name="Lat" type="xs:string"/>
                                <xs:element name="VehicleTimestamp" minOccurs="0" type="tp:timestampType"/>
                                <xs:element name="ServerTimestamp" minOccurs="0" type="tp:timestampType"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="limit" type="tp:limitType"/>
                <xs:attribute name="offset" type="tp:offsetType"/>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetPosReportTraceResponse" type="tp:GetPosReportTraceResponseType">
                <xs:annotation>
                    <xs:documentation>
                        Response document for getPosReport
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetReplyRequestType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="VehicleID" type="tp:vehicleidType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="ServerTimestamp" type="tp:TPDate"/>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="limit" type="tp:limitType" use="optional"/>
                <xs:attribute name="offset" type="tp:offsetType" use="optional"/>
                <xs:attribute name="version" type="tp:versionType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetReplyRequest" type="tp:GetReplyRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Request document for getReply
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetReplyResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:Msg"/>
                </xs:sequence>
                <xs:attribute name="limit" type="tp:limitType"/>
                <xs:attribute name="offset" type="tp:offsetType"/>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetReplyResponse" type="tp:GetReplyResponseType">
                <xs:annotation>
                    <xs:documentation>
                        Response document for getReply
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:simpleType name="serviceType">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="VM"/>
                    <xs:enumeration value="TM"/>
                    <xs:enumeration value="ALL"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="GetCurrentStateRequestType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="VehicleID" type="tp:vehicleidType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="VehicleGroupID" type="tp:vehicleGroupIdType"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="DriverNameID" type="tp:driverNameIDType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="DriverGroupID" type="tp:driverGroupIdType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="ServiceType" type="tp:serviceType"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="QueryType" type="xs:short"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="OnlyActive" type="xs:boolean"/>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="limit" type="tp:limitType" use="optional"/>
                <xs:attribute name="offset" type="tp:offsetType" use="optional"/>
                <xs:attribute name="version" type="tp:versionType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetCurrentStateRequest" type="tp:GetCurrentStateRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Request document for getCurrentState
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetCurrentStateResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:Msg"/>
                </xs:sequence>
                <xs:attribute name="limit" type="tp:limitType"/>
                <xs:attribute name="offset" type="tp:offsetType"/>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetCurrentStateResponse" type="tp:GetCurrentStateResponseType">
                <xs:annotation>
                    <xs:documentation>
                        Response document for getCurrentState
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="Coordinate">
                <xs:sequence>
                    <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Longitude" type="xs:float"/>
                    <xs:element minOccurs="1" maxOccurs="1" name="Latitude" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetLocationDescriptionRequestType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" name="Language" type="xs:string"/>
                    <xs:element maxOccurs="100" minOccurs="0" name="Coordinate" type="tp:Coordinate"/>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="version" type="tp:versionType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetLocationDescriptionRequest" type="tp:GetLocationDescriptionRequestType">
                <xs:annotation>
                    <xs:documentation>
                        Request document for getLocationDescription
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LocationDescription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="id" type="xs:int"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Distance" type="xs:float"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Longitude" type="xs:float"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Latitude" type="xs:float"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Label" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Country" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="County" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="City" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="District" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="Street" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="HouseNumber" type="xs:string"/>
                        <xs:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="GetLocationDescriptionResponseType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="tp:LocationDescription"/>
                </xs:sequence>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetLocationDescriptionResponse" type="tp:GetLocationDescriptionResponseType">
                <xs:annotation>
                    <xs:documentation>
                        Response document for GetLocationDescription
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:complexType name="GetLastPositionRequestType">
                <xs:sequence>
                    <xs:element name="QueryType" type="xs:short"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="GroupID" type="xs:long"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="EntityID" type="xs:long"/>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="AdditionalState">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="STATE_OF_VEHICLE"/>
                                <xs:enumeration value="STATE_OF_TIMEMANAGEMENT"/>
                                <xs:enumeration value="STATE_OF_ORDERMANAGEMENT"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="sessionid" type="tp:sessionidType" use="optional"/>
                <xs:attribute name="limit" type="tp:limitType" use="optional"/>
                <xs:attribute name="offset" type="tp:offsetType" use="optional"/>
            </xs:complexType>
            <xs:element name="GetLastPositionRequest" type="tp:GetLastPositionRequestType"/>
            <xs:complexType name="LastPositionState">
                <xs:simpleContent>
                    <xs:extension base="xs:short">
                        <xs:attribute name="timestamp" type="tp:timestampType"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="GetLastPositionResponseType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Positions">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="FleetID" type="tp:fleetidType"/>
                                <xs:element name="VehicleID" type="tp:vehicleidType"/>
                                <xs:element name="DriverNameID" type="tp:driverNameIDType"/>
                                <xs:element minOccurs="0" name="MotorStatus" type="xs:short"/>
                                <xs:element minOccurs="0" name="IgnitionStatus" type="xs:short"/>
                                <xs:element ref="tp:Position"/>
                                <xs:element minOccurs="0" name="StateOfVehicle" type="tp:LastPositionState"/>
                                <xs:element minOccurs="0" name="StateOfTimeManagement" type="tp:LastPositionState"/>
                                <xs:element name="StateOfOrderManagement" type="tp:LastPositionState" maxOccurs="1" minOccurs="0"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="limit" type="tp:limitType"/>
                <xs:attribute name="offset" type="tp:offsetType"/>
                <xs:attribute name="resultSize" type="tp:resultSizeType"/>
                <xs:attribute name="responseSize" type="tp:responseSizeType"/>
            </xs:complexType>
            <xs:element name="GetLastPositionResponse" type="tp:GetLastPositionResponseType"/>
            <xs:element name="getPosReport">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetPosReportRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPosReportResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetPosReportResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPosReportTrace">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetPosReportTraceRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPosReportTraceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetPosReportTraceResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReply">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetReplyRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getReplyResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetReplyResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentState">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetCurrentStateRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentStateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetCurrentStateResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocationDescription">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetLocationDescriptionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLocationDescriptionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetLocationDescriptionResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastPosition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetLastPositionRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getLastPositionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="tp:GetLastPositionResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <message name="GetPosReportRequestMessage">
        <part element="tp:getPosReport" name="body"/>
    </message>
    <message name="GetPosReportResponseMessage">
        <part element="tp:getPosReportResponse" name="body"/>
    </message>
    <message name="GetPosReportTraceRequestMessage">
        <part element="tp:getPosReportTrace" name="body"/>
    </message>
    <message name="GetPosReportTraceResponseMessage">
        <part element="tp:getPosReportTraceResponse" name="body"/>
    </message>
    <message name="GetReplyRequestMessage">
        <part element="tp:getReply" name="body"/>
    </message>
    <message name="GetReplyResponseMessage">
        <part element="tp:getReplyResponse" name="body"/>
    </message>
    <message name="GetCurrentStateRequestMessage">
        <part element="tp:getCurrentState" name="body"/>
    </message>
    <message name="GetCurrentStateResponseMessage">
        <part element="tp:getCurrentStateResponse" name="body"/>
    </message>
    <message name="GetLocationDescriptionRequestMessage">
        <part element="tp:getLocationDescription" name="body"/>
    </message>
    <message name="GetLocationDescriptionResponseMessage">
        <part element="tp:getLocationDescriptionResponse" name="body"/>
    </message>
    <message name="GetLastPositionRequestMessage">
        <part element="tp:getLastPosition" name="body"/>
    </message>
    <message name="GetLastPositionResponseMessage">
        <part element="tp:getLastPositionResponse" name="body"/>
    </message>
    <portType name="PosService">
        <operation name="getPosReport">
            <input message="tpns:GetPosReportRequestMessage"/>
            <output message="tpns:GetPosReportResponseMessage"/>
        </operation>
        <operation name="getPosReportTrace">
            <input message="tpns:GetPosReportTraceRequestMessage"/>
            <output message="tpns:GetPosReportTraceResponseMessage"/>
        </operation>
        <operation name="getReply">
            <input message="tpns:GetReplyRequestMessage"/>
            <output message="tpns:GetReplyResponseMessage"/>
        </operation>
        <operation name="getCurrentState">
            <input message="tpns:GetCurrentStateRequestMessage"/>
            <output message="tpns:GetCurrentStateResponseMessage"/>
        </operation>
        <operation name="getLocationDescription">
            <input message="tpns:GetLocationDescriptionRequestMessage"/>
            <output message="tpns:GetLocationDescriptionResponseMessage"/>
        </operation>
        <operation name="getLastPosition">
            <input message="tpns:GetLastPositionRequestMessage"/>
            <output message="tpns:GetLastPositionResponseMessage"/>
        </operation>
    </portType>
    <binding name="PosServiceBinding" type="tpns:PosService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getPosReport">
            <soap:operation soapAction="getPosReport"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getPosReportTrace">
            <soap:operation soapAction="getPosReportTrace"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getReply">
            <soap:operation soapAction="getReply"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getCurrentState">
            <soap:operation soapAction="getCurrentState"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLocationDescription">
            <soap:operation soapAction="getLocationDescription"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLastPosition">
            <soap:operation soapAction="getLastPosition"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="PosService">
        <documentation>
            FleetBoard Transporting PosService
        </documentation>
        <port binding="tpns:PosServiceBinding" name="PosService">
            <soap:address location="http://www.fleetboard.com/soap_v1_1/services/PosService"/>
        </port>
    </service>
</definitions>
